/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --background-color: #FFF1F7;
  --header1-color: #353430;
  --header2-color: #353430;
  --paragraph-color: #353430;
  --title-color: #FFC2E6;
  --title-shadow-color: #FF0070;
  --button-color: #353430;
  --button-color-hover: rgba(50, 49, 45, 0.4);;
  --cover-image: url(../images/cover-image-light.png);
  --main-font: "IBM Plex mono";
}


@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --background-color: #FFF1F7;
    --header1-color: #353430;
    --header2-color: #353430;
    --paragraph-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow-color: #FF0070;
    --button-color: #353430;
    --button-color-hover: rgba(50, 49, 45, 0.4);;
    --cover-image: url(../images/cover-image-light.png);
    --main-font: "IBM Plex mono";
    }
}